<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
	<key>CFBundleExecutable</key>
	<string>APP_NAME</string>
	<key>CFBundleIdentifier</key>
	<string>APP_URN</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>APP_NAME</string>
	<key>CFBundleIconFile</key>
	<string>BundleIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>VERSION</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSCameraUsageDescription</key>
	<string>APP_NAME needs access to your camera to take photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>APP_NAME needs access to your microphone to record audio.</string>
</dict>
</plist>
