[Desktop Entry]
Name=APP_NAME
Exec="/usr/bin/APP_NAME"
Comment=APP_DESC_SHORT
Terminal=false
Icon=/usr/share/icons/hicolor/512x512/apps/APP_URN.png
Type=Application